<p style="color: #000000; font-size: 13px; font-family: Arial, sans-serif;">
    Welcome, {{username}}!
</p>
<p style="color: #000000; font-size: 13px; font-family: Arial, sans-serif;">
    Thanks for signing up for DevStorm. Just follow this link to activate your account and start building:
</p>
<p>
     <a href="{{ confirm_url }}" 
            style="display: inline-block; padding: 8px 25px; background-color: #1f798f; color: white; text-decoration: none; border-radius: 5px; font-weight: bold;">
            Activate Your Account
    </a>
</p>
<p style="color: #000000; font-size: 13px; font-family: Arial, sans-serif;">
    Cheers!
</p>
